.header_items_position {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header_logo {
  width: 20%;
}

.header_navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 150px;
}

.header_navbar_items {
  color: #fe6666;
}

@media screen and (max-width: 700px) {
  .header_logo {
    width: 35%;
  }
}
