.housingPage_items_position {
    padding-right: 30px;
    padding-left: 30px;
    min-height: 100vh;
}

.housingPage_items_position {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

.housingPage_footer_position {
    margin-top: 20px;
}

@media screen and (max-width: 700px) {
    .housingPage_text_items_position {
        margin-top: 100px;
    }
}