.selector_structure {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: rgb(231, 221, 221);
    border-radius: 5px;
}

.selector_header {
    background-color: #FE6666;
    border-radius: 5px;
    z-index: 1;
}

.selector_items {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.selector_item_text {
    padding: 5px;
    color: white;
}

.selector_button {
    cursor: pointer;
}

.selector_item_icon {
    padding: 5px;
    fill: white;
}

.selector_info_isNotActive {
    color: #FE6666;
    padding: 10px;
    flex-wrap: wrap;
    display: none;
}

.selector_info_isActive {
    color: #FE6666;
    padding: 10px;
    flex-wrap: wrap;
    display: block;
    height: 60px;
}
